<?xml version="1.0"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <!-- access these values via the property:
      System.Configuration.ConfigurationManager.AppSettings[key]
    -->
    <add key="UseTestBookManager" value="false"/>
    <add key="DBPath" value="C:\DATA\"/>
    <add key="PagesCustomColumnNumber" value="4"/>
    <add key="ReadCustomColumnNumber" value="1"/>
  </appSettings>
</configuration>
